.t-main , .slider {
    padding: 100px;
}
.t-king{
    display: flex;
}
.t-cont{
    width: 70%;
}
.t-conts{
    width: 30%;
    padding: 10px;
    border-style: ridge;

}
.t-conts img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.t-conts ul{
    text-align: center;
    list-style: none;
}
.t-conts ul li a:hover{
    color: red;
}
.ig img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    border-radius: 50%;
}
@media (max-width:600px){
    body{
        font-size: small;
    }
    .t-main,.slider {
        padding: 0px;
        padding-top: 80px;
    }
    .t-cont{
        width: 70%;
    }
    .t-conts{
        width: 30%;
    }  
}