@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
.t-main , .slider {
    text-align: center;
    
    padding-top: 100px;
}
nav{
    background-color: rgb(65, 209, 209);
}
.igclass{
    
}
.t-king{
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
}
.t-cont h1{
    font-size: 40px;
    font-family: 'Chango', cursive;
}
.t-cont p{
    margin: 30px;
    font-size: large;
    line-height: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.t-cont{
    width: 70%;
}
.t-conts{
    width: 30%;
    padding: 10px;
    border-style: ridge;

}
.t-conts img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.t-conts ul{
    text-align: center;
    list-style: none;
}
.t-conts ul li a{
    font-size: 20px;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(221, 133, 32);
}
.t-conts ul li a:hover{
    color: red;
}
.ig{
    background-size: contain;
    background-repeat: no-repeat;   
}
.igclass{
    display: flex;
}
.igclassleft{
    width: 50%;
}
.igclassright{
    background-image: url(../images/bg1.png);
    background-size: cover;
    width: 50%;
}
.ig2 img{
    width: 100%;
}
.ig a{
    background-color: blueviolet;
    
}
.ig1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    border-radius: 50%;
}
.igclassright h1{
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
    text-align: center;
}
.igclassright p{
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    padding: 15px;
    font-style: italic;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

@media (max-width:600px){
    body{
        font-size: small;
    }
    .t-main,.slider {
        padding: 0px;
        padding-top: 80px;
    }
    .t-cont{
        width: 70%;
    }
    .t-conts{
        width: 30%;
    }  
    .igclass{
        flex-direction: column;
    }
    .igclassleft{
        width: 100%;
    }
    .igclassright{
        width: 100%;
    }
}