*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* navbar styling */
/* navbar styling */
nav{
  background-color: rgb(245, 238, 238);
   height: 70px;
   width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 1000;
}

label.logo{
   margin-left: 15px;
   color: rgb(221, 75, 39);
   font-size: 30px;
   line-height: 70px;
}
nav ul {
   float: right;
   margin-right: 20px;
}
nav ul li{
   display: inline-block;
   line-height: 70px;
   margin:0 10px;
}
nav ul li a{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 800;
   color: rgb(0, 0, 0);
   font-size:17px  ;
 
}
nav a:hover{
   display: block;
   color: rgb(255, 0, 0);
}
.checkbtn{
   float: right;
   font-size: 30px;
   margin-right: 15px;
   line-height: 70px;
   color: rgb(243, 139, 12);
   cursor: pointer;
   display: none;
}
#check{
   display: none;
}
/*footer styling */
footer{
    background-color: rgb(47, 42, 42);
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
.foot-head{
    color: rgb(220, 217, 20);
    text-decoration: underline;
 font-size: 25px;
 font-weight: 600;
}
.foot-left p{
color: rgb(255, 255, 255);
 font-size: 20px;
 margin: 10px;
 font-weight: 500;
}
.foot-upper{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.field-name , .field-email , .field input{
    padding: 10px;
    border-radius: 4px;
}
.field-name , .field-email , .field{
    padding: 3px;
}
.fields .button{
    
    padding-top: 4px;
}
.fields button{
    color: rgb(235, 241, 241);
    border: none;
    border-radius: 4px;
    background-color: rgb(235, 33, 33);
    padding: 10px 25px;
    cursor: pointer;
}
.fields button:hover{
    background-color: white;
    color:tomato;
}
.foot-lower{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
.copyright{
    color: white;
}
.media-links li{
    list-style: none;
    display: inline-block;
}
.foot-left{
    width: 33.3%;
}
.foot-middle{
    width: 33.3%;
}
.foot-menu li{
    margin: 10px;
    list-style: none;
}
.foot-menu li a{
   color: white;
   font-size: large;
}
footer .fa {
    border-radius: 5px;
    font-weight: 100;
    padding:5px;
    text-align: center;
    width: 25px;
}
footer .fa-youtube{
    background: #bb0000;
  color: white;
}
footer .fa-facebook{
    background: #3B5998;
    color: white;
}
footer .fa-instagram{
    background: #8a59b3;
    color: white;
}
footer a:hover {
    color: chartreuse;
}
.foot-right{
    width: 33.3%;
}
/* responsive styling  */
@media (max-width:786px){
    label.logo{
        font-size: 20px;
        font-weight: 400;
    }
    nav ul li a{
        color: blanchedalmond;
        font-size: 15px;
    }
    .checkbtn{
        float: right;
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        background-color: #2c3e50;
        opacity: 0.75;
        top:70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    #check:checked ~ ul{
        left: 0;
    }
   
    .foot-left p{
        color: rgb(255, 255, 255);
         font-size: 15px;
         margin: 10px;
         font-weight: 500;
        }
        .foot-menu li a{
            color: white;
            font-size: small;
         }
         .foot-menu li{
            margin: 5px;
            list-style: none;
        }
        footer a:hover {
            color: rgb(246, 109, 96);
        }
    .foot-head{
        font-size: 20px;
    }
    .foot-upper{
        flex-direction: column;
    }
    .foot-left{
        width: 100%;
    }
    .foot-middle{
        width: 100%;
    }
    .foot-right{
        width: 100%;
    }
    .foot-lower{
        flex-direction: column;
        margin: 0;
    }

}
/* main container styling */  
section{
    
}
  .image1 {
      width: 100%;
  }
  .box{
      width: 300px;
      box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
      border-radius: 10px;
      overflow: hidden;
      position: absolute;
      left: 12%;
      top: 128%;
      transform: translate(-50%,-50%);
  }
  .slide-img{
      height: 150px;
  }
  .slide-img img{
    width:100% ;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
  }
  .detail-box{
      width: 100%;
      display: flex;
        padding: 10px 20px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }
    .type{
        display: flex;
        flex-direction: column;
    }
    .head{
        height: 500px;
    }