*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* navbar styling */
.navbar{
    background-color: rgb(48, 50, 51);
    position: fixed;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    padding: 5px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background-color: blanchedalmond;
}
.navbar .navbar-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    margin-left: 15px;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: chartreuse;
    font-weight: 500;
}
.navbar .logo a span{
    color: coral;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: rgb(255, 255, 255);
    font-size: large;
    padding-right: 15px;
    font-weight: 600;
}
.navbar .menu li a:hover{
    color: rgb(194, 235, 15);
}
.navbar.sticky .menu li a{
    color: darksalmon;
}